.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1% 20%;
}

.header > a {
  margin-right: auto;
}

.header > button {
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 2%;
  }
}
